<!-- Footer -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer__wr">
            <div class="footer__info">
                <div class="footer__content-row">
                    <div class="smallest-header">© 2009—2018 ООО «Компания Сталь ТД»,</div>
                    <div class="small-text">Завод кровельных и фасадных материалов</div>
                </div>
                <div class="footer__content-row">
                    <div class="footer__link">
                        <a href="/" class="menu-link">Карта сайта</a>
                    </div>
                    <div class="footer__link">
                        <a href="mailto:example@gmail.com" class="menu-link">Отправить письмо</a>
                    </div>

                    <div class="footer__mobile-menu">
                        <div class="footer__link">
                            <a href="/catalog.html" class="menu-link">Каталог</a>
                        </div>
                        <div class="footer__link">
                            <a href="/services.html" class="menu-link">Услуги</a>
                        </div>
                        <div class="footer__link">
                            <a href="/contacta.html" class="menu-link">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer__info-row">
                    <p class="small-text">Компания СтальТД – динамично развивающаяся производственная компания на рынке тонколистовой стали, систем вентилируемых фасадов и сэндвич-панелей.</p>
                    <p class="small-text">С 2006 года Компания успешно зарекомендовала себя в Центральном и Северо-Западном Федеральных округах как надежный производитель и поставщик качественных материалов.</p>
                    <p class="small-text">В своей практике мы используем мировой опыт в удовлетворении спроса на качественную продукцию из тонколистового оцинкованного металлопроката.</p>
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-col">
                    <div class="footer__link">
                        <a href="/" class="menu-link">Кровельные материалы</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Ворота</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Металлопрокат</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Заборы</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Фасонные элементы</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Комплектующие к кровле</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Гидроизоляционные пленки</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Профнастил</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Фасадные материалы</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Теплоизоляция</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Сэндвич панели</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Мансардные окна</a>
                    </div>
                </div>
                <div class="footer__menu-col">
                    <div class="footer__link">
                        <a href="/" class="menu-link">Услуги</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Объекты</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Акции</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Доставка и оплата</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Справочник</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">О компании</a>
                    </div>
                    <div class="footer__link">
                        <a href="/" class="menu-link">Контакты и реквизиты</a>
                    </div>
                </div>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-block">
                    <div class="footer__content-row">
                        <a href="" class="city-header">Офисы в Санкт-Петербурге</a>
                    </div>
                    <div class="footer__content-row">
                        <div class="footer__contacts-row">
                            <div class="small-text">пос. Тельмана, промзона, д. 60</div>
                            <div class="phone-header"><a class="link-black" href="tel:+78124494647">+7 (812) 449-46-47</a></div>
                        </div>
                        <div class="footer__contacts-row">
                            <div class="small-text">пр. Непокоренных, дом 49, литера А офис № 310, 3 этаж</div>
                            <div class="phone-header"><a class="link-black" href="tel:+78124494647">+7 (812) 449-46-47</a></div>
                        </div>
                        <div class="footer__contacts-row">
                            <div class="small-text">пос. Тельмана, промзона, д. 60</div>
                            <div class="phone-header"><a class="link-black" href="tel:+78124494647">+7 (812) 449-46-47</a></div>
                        </div>
                    </div>
                </div>
                <div class="footer__contacts-block">
                    <div class="footer__content-row">
                        <a href="" class="city-header">Офис в Москве</a>
                    </div>
                    <div class="footer__content-row">
                        <div class="footer__contacts-row">
                            <div class="small-text">пос. Тельмана, промзона, д. 60</div>
                            <div class="phone-header"><a class="link-black" href="tel:+74952256303">+7 (495) 225-63-03</a></div>
                        </div>
                    </div>
                </div>
                <div class="footer__contacts-block">
                    <div class="footer__content-row">
                        <a href="" class="city-header">Офис в Пскове</a>
                    </div>
                    <div class="footer__content-row">
                        <div class="footer__contacts-row">
                            <div class="small-text">Дмитровское шоссе, д. 100, стр. 2, БЦ «Норд Хаус», офис 32100</div>
                            <div class="phone-header"><a class="link-black" href="tel:+78112700622">+7 (8112) 700-622</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->
