.chat-block {
    margin: 40px 0 60px;

    &__wr {
        display: flex;
        @media (max-width: $bigPhone) {
            display: block;
        }
    }

    &__info {
        width: calc(380 / 1180 * 100%);
        min-width: 300px;
        @media (max-width: $bigPhone) {
            width: 100%;
            min-width: 100%;
        }

        &-row + &-row {
            margin-top: 46px;
        }

        &-title + &-manager {
            margin-top: 14px;
        }

        &-title + &-text {
            margin-top: 19px;
        }

        &-manager {
            width: 100%;
        }

        &-text {
            width: 100%;
            max-width: 280px;
        }
    }

    &__chat {
        width: calc(780 / 1180 * 100%);
        margin-left: 20px;
        @media (max-width: $bigPhone) {
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
        }
    }
}

.chat {
    width: 100%;

    &__status {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px;
        background-color: $soft-blue;

        &-text {
            @include GilroyBoldFont;
            font-size: 9px;
            line-height: 1.56;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $white;
        }
    }

    &__body {
        width: 100%;
        height: 360px;
        border-left: 1px solid $cool-blue;
        border-right: 1px solid $cool-blue;
        overflow: auto;
        padding: 20px 20px 40px;

        &-wr {
            height: 100%;
        }
    }

    &__messages {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        min-height: 100%;
    }

    &__message {
        width: 100%;
        border: 1px solid $cool-blue;

        &-wr {
            padding: 20px;
        }
    }

    &__footer {
        width: 100%;
        height: 20px;
        border: 1px solid $cool-blue;
        border-top: none;
    }
}

.chat-form {
    display: flex;
    @media (max-width: $smPhone) {
        display: block;
    }

    &__input {
        flex-grow: 1;
    }

    &__send {
        flex-shrink: 0;
        width: 100px;
        margin-left: 20px;
        @media (max-width: $smPhone) {
            width: 120px;
            margin: 20px 0 0;
        }
    }
}

.form-field.chat-form-field {
    height: 40px;

    &:after {
        position: absolute;
        left: 0;
        bottom: 1px;
    }

    &:hover {
        label {
            color: $cool-blue;
        }

        &:after {
            background-color: $cool-blue;
        }
    }

    label {
        @include GilroyBoldFont;
        top: 50%!important;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px!important;
        transform: translateY(-50%);
        margin: 0;
    }

    input {
        height: 100%;
        border-color: $cool-blue;
        padding-bottom: 4px;
    }

    &.input-filled,
    &.input-focus {
        label {
            color: $grey!important;
            transform: scale(0.75) translate(0,-37px);
        }
    }
}

.chat-message {
    display: flex;

    & + & {
        margin-top: 20px;
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 60px;
        background-color: $soft-blue;
        overflow: hidden;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &-name {
            font-size: 20px;
            color: $white;
        }
    }

    &__message {
        display: flex;
        align-items: center;
        flex-grow: 1;
        min-height: 40px;
        margin-left: 10px;
        font-size: 12px;
        line-height: 1.67;
        color: $black;
    }
}
